{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
                  "s3:ListBucket*",
                  "s3:ListAllMyBuckets",
                  "s3:GetBucketLocation",
                  "s3:ListBucketMultipartUploads"
        ],
      "Resource": "*"
    },
    {
      "Effect": "Allow",
      "Action": [
          "s3:*"
        ],
      "Resource": [
                    "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-data' }}",
                    "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-data' }}/*",
                    "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                    "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/*"
                  ],
    },
    {
      "Effect": "Allow",
      "Action": [
          "route53:AssociateVPCWithHostedZone",
          "route53:Change*",
          "route53:Create*",
          "route53:Get*",
          "route53:List*"
        ],
      "Resource": [
          "*"
        ]
    },
    {
      "Effect": "Allow",
      "Action": [
          "cloudformation:*",
          "cloudwatch:*",
          "logs:*",
          "ec2:*",
          "lambda:*",
          "iam:*",
          "sts:*",
          "elasticloadbalancing:*",
          "autoscaling:*",
          "application-autoscaling:*",
          "dynamodb:*",
          "elasticfilesystem:*"
        ],
      "Resource": "*"
    }
  ]
}
