{
   "Version": "2012-10-17",
   "Statement": [
     {
       "Sid": "Allow-access-by-humans",
       "Effect": "Allow",
       "Principal": "*",
       "Action": "s3:*",
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": [
		   "{{ root_account['iam_user_id'] }}",
		   "{{ root_account['account_id'] }}"
               ]
         }
       }
     },
     {
       "Sid": "Allow-access-from-installer-role",
       "Effect": "Allow",
       "Principal": "*",
       "Action": "s3:*",
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": "{{ installer_role_id }}:*"
         }
       }
     },
     {
       "Sid": "Allow-access-from-WAF-instances",
       "Effect": "Allow",
       "Principal": "*",
       "Action": [
                   "s3:Get*",
                   "s3:List*"
                 ],
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/bootstrap/waf/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": "{{ roleid_WAFEC2Role['iam_roles'][0]['role_id'] }}:*"
         }
       }
     },
     {
       "Sid": "Allow-access-from-NAT-instances",
       "Effect": "Allow",
       "Principal": "*",
       "Action": [
                   "s3:Get*",
                   "s3:List*"
                 ],
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/bootstrap/nat/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": "{{ roleid_NATEC2Role['iam_roles'][0]['role_id'] }}:*"
         }
       }
     },
     {
       "Sid": "Allow-access-from-VPN-instances",
       "Effect": "Allow",
       "Principal": "*",
       "Action": [
                   "s3:Get*",
                   "s3:List*"
                 ],
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/bootstrap/vpn/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": "{{ roleid_VPNEC2Role['iam_roles'][0]['role_id'] }}:*"
         }
       }
     },
     {
       "Sid": "Allow-access-from-Bastion-instances",
       "Effect": "Allow",
       "Principal": "*",
       "Action": [
                   "s3:Get*",
                   "s3:List*"
                 ],
       "Resource": [
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}",
                     "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/bootstrap/*"
                   ],
       "Condition": {
         "StringLike": {
           "aws:userId": "{{ roleid_BastionEC2Role['iam_roles'][0]['role_id'] }}:*"
         }
       }
     },
     {
       "Sid": "Allow-access-from-AWS-ELB",
       "Effect": "Allow",
       "Principal": {
          "AWS": "arn:aws:iam::156460612806:root"
       },
       "Action": "s3:PutObject*",
       "Resource": "arn:aws:s3:::{{ s3_bucket_prefix | lower + '-logs' }}/AWSLogs/{{ root_account['account_id'] }}/*"
     }
   ]
}
